@font-face {
  font-family: NowBold;
  src: url(../fonts/Now/NowAlt-Bold.otf);
}

@font-face {
  font-family: NowNormal;
  src: url(../fonts/Now/Now-Regular.otf);
}

:root {
  --textColor: #30FBEF;
  --whitecolor:#fff;
  --NowBold:NowBold;
  --NowNorml:NowNormal
  ;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  background-color: #282828;
}

.res-nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #000;
  display: -ms-grid;
  display: grid;
  display: none;
  padding: 100px 20px;
  font-size: 16px;
  color: white;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.res-nav a {
  text-decoration: none;
  color: var(--whitecolor);
}

.res-nav .navItem {
  padding: 0 5px;
  font-family: var(--NowNorml);
  color: var(--whitecolor);
}

.res-nav a.active {
  color: var(--textColor);
}

.res-nav .request-btn {
  width: 210px;
  margin-left: 10px;
  height: 50px;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.res-nav .request-btn .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.res-nav .request-btn .text p {
  font-family: var(--NowNorml);
  font-weight: normal;
  font-size: 16px;
  color: var(--textColor);
}

.res-nav .request-btn .text img {
  margin-left: 5px;
}

section.home {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  height: auto;
  padding: 50px 0;
}

section.home nav {
  height: 60px;
  display: -ms-grid;
  display: grid;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

section.home nav .menu_icon {
  width: 40px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  position: fixed;
  top: 9%;
  display: none;
  right: 5%;
  place-content: center;
}

section.home nav .menu_icon .fline {
  width: 30px;
  height: 5px;
  margin: 3px 0;
  background-color: white;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

section.home nav .menu_icon .sline {
  width: 30px;
  height: 5px;
  margin: 3px 0;
  border-radius: 10px;
  background-color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

section.home nav .menu_icon .tline {
  width: 30px;
  border-radius: 10px;
  height: 5px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  margin: 3px 0;
  background-color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

section.home nav .menu_icon:hover .sline {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

section.home nav .menu_icon:hover .tline {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

section.home nav .logo {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 170px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section.home nav .logo h1 {
  font-size: 26px;
  font-family: var(--NowNorml);
  color: var(--textColor);
}

section.home nav .nav-items {
  height: 100%;
  width: auto;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
}

section.home nav .nav-items a {
  text-decoration: none;
  color: var(--whitecolor);
}

section.home nav .nav-items p {
  padding: 0 5px;
  font-family: var(--NowNorml);
  color: var(--whitecolor);
}

section.home nav .nav-items .request-btn {
  width: 210px;
  margin-left: 10px;
  height: 100%;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section.home nav .nav-items .request-btn .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

section.home nav .nav-items .request-btn .text p {
  font-family: var(--NowNorml);
  font-weight: normal;
  font-size: 16px;
  color: var(--textColor);
}

section.home nav .nav-items .request-btn .text img {
  margin-left: 5px;
}

section.home .main-section {
  width: 100vw;
  padding: 0 140px;
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section.home .main-section .left-side {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

section.home .main-section .left-side .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 30px;
}

section.home .main-section .left-side .content .home-title {
  font-size: 60px;
  color: var(--textColor);
  font-weight: bold;
  font-style: normal;
  font-family: var(--NowBold);
  line-height: 110%;
}

section.home .main-section .left-side .content .home-sub-title {
  font-family: var(--NowNorml);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: white;
  line-height: 160%;
}

section.home .main-section .left-side .content .learn-more-btn {
  width: 210px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 66px;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

section.home .main-section .left-side .content .learn-more-btn p {
  font-family: var(--NowNorml);
  font-size: 18px;
  color: white;
}

section.home .main-section .right-side {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section.home .main-section .right-side img {
  max-width: 380px;
  height: auto;
}

.section-boxes {
  width: 100vw;
  height: auto;
  padding: 50px 140px;
  overflow: hidden;
}

.section-boxes .box-1 {
  width: 100%;
  height: 560px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
  border: 2px solid #272829;
  -webkit-box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 50px 40px;
  grid-gap: 15px;
}

.section-boxes .box-1 .left-side {
  display: -ms-grid;
  display: grid;
  width: 100%;
  place-items: center;
}

.section-boxes .box-1 .left-side img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-boxes .box-1 .right-side {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.section-boxes .box-1 .right-side .content {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
}

.section-boxes .box-1 .right-side .content h1 {
  color: var(--textColor);
  font-size: 38px;
  font-family: var(--NowBold);
}

.section-boxes .box-1 .right-side .content p {
  font-size: 18px;
  font-family: var(--NowNorml);
  color: white;
}

.section-boxes .box-2 {
  width: 100%;
  height: 800px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
  border: 1px solid #272829;
  margin: 100px 0;
  -webkit-box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  padding: 0 80px;
  -ms-grid-rows: 1.5fr 4fr 1fr;
      grid-template-rows: 1.5fr 4fr 1fr;
}

.section-boxes .box-2 .head {
  width: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-2 .head h1 {
  font-size: 40px;
  font-family: var(--NowBold);
  color: var(--textColor);
}

.section-boxes .box-2 .body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

.section-boxes .box-2 .body .cards {
  position: absolute;
  width: 1100px;
  height: 100%;
  left: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-transition: left 1s cubic-bezier(0.93, 0.03, 0.04, 1.24);
  transition: left 1s cubic-bezier(0.93, 0.03, 0.04, 1.24);
}

.section-boxes .box-2 .body .cards .card {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 42fr 36fr 22fr;
      grid-template-rows: 42fr 36fr 22fr;
  width: 300px;
  place-items: center;
  height: 500px;
  background: #212121;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1);
          box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.section-boxes .box-2 .body .cards .card img {
  width: 70%;
}

.section-boxes .box-2 .body .cards .card .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.section-boxes .box-2 .body .cards .card .body h1 {
  font-family: var(--NowBold);
  font-size: 24px;
  color: var(--textColor);
}

.section-boxes .box-2 .body .cards .card .body p {
  font-family: var(--NowNorml);
  font-size: 14px;
  color: white;
}

.section-boxes .box-2 .body .cards .card .learnmore {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-2 .body .cards .card .learnmore p {
  font-size: 16px;
  font-family: var(--NowBold);
  color: var(--textColor);
}

.section-boxes .box-2 .body .cards .card .learnmore img {
  width: 10%;
  height: 15%;
}

.section-boxes .box-2 .footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-2 .footer .dots {
  width: auto;
  height: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-2 .footer .dots .dot.active {
  width: 10px;
  height: 10px;
  background: #F063B8;
  border-radius: 50%;
}

.section-boxes .box-2 .footer .dots .dot {
  cursor: pointer;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.section-boxes .box-2 .footer .arrows {
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  grid-gap: 10px;
}

.section-boxes .box-2 .footer .arrows .arrow1 {
  position: relative;
  width: 35%;
  height: 100%;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  cursor: pointer;
  background: white;
}

.section-boxes .box-2 .footer .arrows .arrow1 img {
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  position: absolute;
}

.section-boxes .box-2 .footer .arrows .arrow2 {
  width: 35%;
  cursor: pointer;
  position: relative;
  height: 100%;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  background: white;
}

.section-boxes .box-2 .footer .arrows .arrow2 img {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-48%) rotate(180deg);
          transform: translateY(-48%) rotate(180deg);
}

.section-boxes .box-2 .footer .arrows .arrow.active {
  width: 65%;
}

.section-boxes .box-3 {
  width: 100%;
  height: 550px;
  position: relative;
  margin-top: 150px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
  border: 1px solid #272829;
  -webkit-box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-boxes .box-3 .left-side {
  display: -ms-grid;
  display: grid;
  padding: 50px 50px;
  place-items: center;
}

.section-boxes .box-3 .left-side .content {
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.5fr 1fr;
      grid-template-rows: 1fr 1.5fr 1fr;
  grid-gap: 10px;
}

.section-boxes .box-3 .left-side .content h1 {
  font-size: 40px;
  font-family: var(--NowBold);
  color: var(--textColor);
  width: 385px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-boxes .box-3 .left-side .content p {
  color: white;
  font-family: var(--NowNorml);
  width: 300px;
}

.section-boxes .box-3 .left-side .content .download-btn {
  width: 210px;
  height: 70px;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.section-boxes .box-3 .left-side .content .download-btn h2 {
  font-family: var(--NowBold);
  font-size: 18px;
  color: white;
}

.section-boxes .box-3 .right-side img {
  position: absolute;
  right: -150px;
  top: -120px;
  width: 800px;
}

.section-boxes .box-4 {
  width: 100%;
  height: 600px;
  background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
  border: 1px solid #272829;
  margin: 100px 0;
  -webkit-box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  padding: 0 80px;
  -ms-grid-rows: 1.5fr 4fr 1fr;
      grid-template-rows: 1.5fr 4fr 1fr;
}

.section-boxes .box-4 .head {
  width: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-4 .head h1 {
  font-size: 40px;
  font-family: var(--NowBold);
  color: var(--textColor);
}

.section-boxes .box-4 .body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

.section-boxes .box-4 .body .cards {
  position: absolute;
  width: 2200px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-transition: left 2s ease;
  transition: left 2s ease;
  grid-gap: 33px;
}

.section-boxes .box-4 .body .cards .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  width: 500px;
  padding: 40px 50px;
  height: 300px;
  grid-gap: 20px;
  background: #212121;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1);
          box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.section-boxes .box-4 .body .cards .card img {
  width: 90%;
  margin-top: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-boxes .box-4 .body .cards .card .content {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 3fr;
      grid-template-rows: 1fr 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-4 .body .cards .card .content h1 {
  font-family: var(--NowNorml);
  font-size: 20px;
  color: var(--textColor);
}

.section-boxes .box-4 .body .cards .card .content .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-boxes .box-4 .body .cards .card .content .category h2 {
  font-family: var(--NowNorml);
  font-size: 14px;
  color: #9C69E2;
}

.section-boxes .box-4 .body .cards .card .content .category .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-left: 20px;
}

.section-boxes .box-4 .body .cards .card .content .category .dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--textColor);
}

.section-boxes .box-4 .body .cards .card .content p.desc {
  font-family: var(--NowNorml);
  color: var(--whitecolor);
  font-size: 18px;
}

.section-boxes .box-4 .footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-4 .footer .dots {
  width: auto;
  height: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-boxes .box-4 .footer .dots .dot.active {
  width: 10px;
  height: 10px;
  background: #F063B8;
  border-radius: 50%;
}

.section-boxes .box-4 .footer .dots .dot {
  width: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: 5px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.section-boxes .box-4 .footer .arrows {
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2px;
  grid-gap: 10px;
}

.section-boxes .box-4 .footer .arrows .arrow1 {
  position: relative;
  width: 35%;
  height: 100%;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  cursor: pointer;
  background: white;
}

.section-boxes .box-4 .footer .arrows .arrow1 img {
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  position: absolute;
}

.section-boxes .box-4 .footer .arrows .arrow2 {
  width: 35%;
  cursor: pointer;
  position: relative;
  height: 100%;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  background: white;
}

.section-boxes .box-4 .footer .arrows .arrow2 img {
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-48%) rotate(180deg);
          transform: translateY(-48%) rotate(180deg);
}

.section-boxes .box-4 .footer .arrows .arrow.active {
  width: 65%;
}

.subscribe {
  width: 100%;
  padding: 0 140px;
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #9C69E2;
}

.subscribe .left-side {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.subscribe .left-side h1 {
  font-family: var(--NowBold);
  font-size: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: var(--textColor);
}

.subscribe .left-side p {
  font-family: var(--NowNorml);
  font-size: 16px;
  color: var(--whitecolor);
}

.subscribe .right-side {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.subscribe .right-side .inputbox {
  width: 500px;
  height: 70px;
  position: relative;
}

.subscribe .right-side .inputbox input {
  width: 100%;
  height: 100%;
  background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
  border: 1px solid #272829;
  -webkit-box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  caret-color: white;
  font-size: 20px;
  color: white;
  padding: 0 160px 0 20px;
}

.subscribe .right-side .inputbox p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  font-family: var(--NowNorml);
  font-size: 18px;
  color: var(--whitecolor);
}

.subscribe .right-side .inputbox .button-email {
  width: 150px;
  height: 80%;
  position: absolute;
  top: 50%;
  background: #000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  font-family: var(--NowNorml);
  font-size: 18px;
  border: none;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-size: 16px;
  font-family: var(--NowNorml);
  color: var(--whitecolor);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.try-for-free {
  width: 100%;
  margin: 50px 0;
  padding: 0 140px;
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.try-for-free .left-side {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.try-for-free .left-side h1 {
  font-family: var(--NowBold);
  font-size: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: var(--textColor);
}

.try-for-free .left-side p {
  font-family: var(--NowNorml);
  font-size: 16px;
  color: var(--whitecolor);
}

.try-for-free .right-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.try-for-free .right-side .button {
  width: 200px;
  height: 70px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-size: 16px;
  font-family: var(--NowNorml);
  color: var(--whitecolor);
}

.try-for-free .right-side .request-btn {
  width: 210px;
  margin-left: 10px;
  height: 70px;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.try-for-free .right-side .request-btn .text {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.try-for-free .right-side .request-btn .text p {
  font-family: var(--NowNorml);
  font-weight: normal;
  font-size: 16px;
  color: #9C69E2;
}

.try-for-free .right-side .request-btn .text img {
  margin-left: 5px;
}

footer {
  color: var(--textColor);
  font-family: var(--NowNorml);
  padding: 0 140px;
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
}

footer a {
  text-decoration: none;
  color: var(--textColor);
}

footer .first-section {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 1fr 2fr;
}

footer .first-section .sub-sec-1 .logo {
  margin-bottom: 40px;
  -ms-grid-column-align: start;
      justify-self: start;
  width: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

footer .first-section .sub-sec-1 .logo h1 {
  font-size: 26px;
  font-family: var(--NowNorml);
  color: var(--textColor);
}

footer .first-section .sub-sec-1 .address {
  margin-bottom: 25px;
}

footer .first-section .sub-sec-2 {
  padding-top: 30px;
}

footer .first-section .sub-sec-2 .about {
  margin-bottom: 30px;
}

footer .first-section .sub-sec-2 p {
  margin-bottom: 13px;
}

footer .first-section .sub-sec-3 {
  padding-top: 30px;
}

footer .first-section .sub-sec-3 .Help {
  margin-bottom: 30px;
}

footer .first-section .sub-sec-3 p {
  margin-bottom: 13px;
}

footer .first-section .sub-sec-4 {
  padding: 30px 0;
}

footer .first-section .sub-sec-4 p {
  margin-bottom: 30px;
}

footer .first-section .sub-sec-4 .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

footer .first-section .sub-sec-4 .icons .icon {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: #282828;
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

footer .first-section .sub-sec-4 .icons .icon img {
  width: 70%;
}

footer .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .second-section img {
  width: 30px;
  height: 30px;
  margin-right: 100px;
}

@media only screen and (max-width: 1024px) {
  section.home .main-section .left-side .content .home-title {
    font-size: 40px;
  }
  .section-boxes .box-1 .right-side .content h1 {
    font-size: 28px;
  }
  .section-boxes .box-3 .right-side img {
    right: -202px;
    top: -57px;
    width: 691px;
  }
  .subscribe .right-side .inputbox {
    width: 379px;
  }
  .subscribe .right-side .inputbox p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) {
  section.home nav .menu_icon {
    display: block;
  }
  section.home nav .nav-items {
    display: none;
  }
  section.home .main-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  section.home .main-section .left-side {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .section-boxes .box-1 {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .section-boxes .box-2 .body .cards {
    width: 1000px;
  }
  .section-boxes .box-3 .right-side img {
    top: 78px;
    width: 514px;
  }
  .section-boxes .box-4 .body .cards {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .subscribe {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe .right-side .inputbox {
    width: 500px;
  }
  .subscribe .right-side .inputbox p {
    font-size: 18px;
  }
  .try-for-free {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  section.home .main-section {
    padding: 30px;
  }
  .section-boxes {
    padding: 50px 30px;
  }
  .section-boxes .box-2 .body .cards {
    width: 850px;
  }
  .section-boxes .box-2 .body .cards .card {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .section-boxes .box-3 .right-side img {
    top: 170px;
    width: 418px;
    right: -151px;
  }
  footer {
    padding: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  footer p {
    font-size: 13px;
  }
  footer .first-section {
    justify-items: center;
  }
  footer .first-section .sub-sec-1 .logo {
    margin: 0;
    padding-top: 15px;
    width: 100px;
  }
  footer .first-section .sub-sec-1 .logo h1 {
    font-size: 15px;
  }
  footer .first-section .sub-sec-1 .logo img {
    width: 100%;
  }
  footer .first-section .sub-sec-1 .address {
    margin: 25px 0;
  }
  footer .first-section .sub-sec-4 .icons {
    gap: 5px;
  }
  footer .first-section .sub-sec-4 .icons .icon {
    width: 20px;
    height: 20px;
  }
  footer .second-section img {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 540px) {
  section.home .main-section .right-side img {
    max-width: 280px;
    height: auto;
  }
  .subscribe .right-side .inputbox {
    width: 280px;
    height: 50px;
  }
  .subscribe .right-side .inputbox .placeholder {
    font-size: 10px;
  }
  .subscribe .right-side .inputbox .button-email {
    width: 79px;
    font-size: 13px;
  }
  .try-for-free .right-side .button {
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
  .try-for-free .right-side .request-btn {
    font-size: 13px;
    width: 120px;
    height: 40px;
  }
  .try-for-free .right-side .request-btn .text p {
    font-size: 13px;
  }
  .try-for-free {
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
  }
  .section-boxes .box-4 {
    height: 800px;
    padding: 0 25px;
    width: 310px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-boxes .box-4 .head h1 {
    font-size: 20px;
  }
  .section-boxes .box-4 .body .cards {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 700px;
  }
  .section-boxes .box-4 .body .cards .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 9fr;
        grid-template-rows: 1fr 9fr;
    height: 500px;
    width: 300px;
  }
  .section-boxes .box-4 .body .cards .card img {
    width: 50px;
  }
  section.home nav {
    padding: 0 10px;
  }
  section.home nav .logo {
    width: 100px;
  }
  section.home nav .logo img {
    width: 100%;
  }
  section.home nav .logo h1 {
    font-size: 18px;
  }
  .section-boxes .box-3 .left-side {
    padding: 0px;
  }
  .section-boxes .box-2 {
    padding: 20px;
    -ms-grid-rows: .5fr 10fr .5fr;
        grid-template-rows: .5fr 10fr .5fr;
    height: 560px;
  }
  .section-boxes .box-2 .head h1 {
    font-size: 20px;
  }
  .section-boxes .box-1 .right-side .content h1 {
    font-size: 24px;
  }
  .section-boxes .box-1 .right-side .content {
    -ms-grid-rows: .5fr 2fr;
        grid-template-rows: .5fr 2fr;
  }
  .section-boxes .box-1 {
    height: 800px;
  }
  .section-boxes .box-3 {
    width: 100%;
    height: 500px;
    padding: 0 20px;
  }
  .section-boxes .box-3 .right-side img {
    display: none;
  }
  .section-boxes .box-3 .left-side .content h1 {
    font-size: 20px;
  }
  .section-boxes .box-3 .left-side .content p {
    width: 200px;
  }
  .section-boxes .box-3 .left-side .content .download-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
  .section-boxes .box-3 .left-side .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: .5fr 1.5fr .5fr;
        grid-template-rows: .5fr 1.5fr .5fr;
  }
}
/*# sourceMappingURL=Style.css.map */