@font-face {
    font-family: NowBold;
    src: url(../fonts/Now/NowAlt-Bold.otf);
}
@font-face {
    font-family: NowNormal;
    src: url(../fonts/Now/Now-Regular.otf);
}

:root {
    --textColor: #30FBEF;
    --whitecolor:#fff;
    --NowBold:NowBold;
    --NowNorml:NowNormal
  }

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #282828;
}
section.home{
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    padding: 50px 0;
    nav{
        height: 60px;
        display: grid;
        padding: 0 50px;
        align-items: center;
        grid-template-columns: 1fr auto;
        .logo{
            justify-self: start;
            width: 170px;
            height: 100%;
            align-items: center;
            display: grid;
            grid-template-columns:1fr 1fr;
            h1{
                font-size: 26px;
                font-family: var(--NowNorml);
                color: var(--textColor);
            }
        }
        .nav-items{
            height: 100%;
            width: auto;
            justify-self: end;
            align-items: center;
            display: grid;
            grid-gap: 10px;
            grid-template-columns:auto auto auto auto auto;
            p{
                padding: 0 5px;
                font-family: var(--NowNorml);
                color:var(--whitecolor)
            }
            .request-btn{
                width: 210px;
                margin-left: 10px;
                height: 100%;
                background: #282828;
                box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
                border-radius: 50px;
                display: grid;
                place-items: center;
                .text{
                    display: grid;
                    grid-template-columns: auto auto;
                    p{
                        font-family: var(--NowNorml);
                        font-weight: normal;
                        font-size: 16px;
                    }
                    img{
                        margin-left: 5px;
                    }
                }
                
            }
        }
    }
    .main-section{
        width: 100vw;
        padding: 0 140px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left-side{
            display: grid;
            place-content: center;
            .content{
                display: grid;
                grid-template-rows:auto auto auto ;
                grid-gap: 30px;
                .home-title{
                    font-size: 60px;
                    color: var(--textColor);
                    font-weight: bold;
                    font-style: normal;
                    font-family: var(--NowBold);
                    line-height: 110%;
                }
                .home-sub-title{
                    font-family: var(--NowNorml);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    color: white;
                    line-height: 160%;
                }
                .learn-more-btn{
                    width: 210px;
                    display: grid;
                    place-items: center;
                    height: 66px;
                    background: #282828;
                    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
                    border-radius: 50px;
                    p{
                        font-family: var(--NowNorml);
                        font-size: 18px;
                        color: white;
                    }
                }
            }
        }
    }
}