@font-face {
  font-family: NowBold;
  src: url(../fonts/Now/NowAlt-Bold.otf);
}

@font-face {
  font-family: NowNormal;
  src: url(../fonts/Now/Now-Regular.otf);
}

:root {
  --textColor: #30FBEF;
  --whitecolor:#fff;
  --NowBold:NowBold;
  --NowNorml:NowNormal
  ;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
}

section.home {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 50px 0;
}

section.home nav {
  height: 60px;
  display: -ms-grid;
  display: grid;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

section.home nav .logo {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 170px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section.home nav .logo h1 {
  font-size: 26px;
  font-family: var(--NowNorml);
  color: var(--textColor);
}

section.home nav .nav-items {
  height: 100%;
  width: auto;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
}

section.home nav .nav-items p {
  padding: 0 5px;
  font-family: var(--NowNorml);
  color: var(--whitecolor);
}

section.home nav .nav-items .request-btn {
  width: 210px;
  margin-left: 10px;
  height: 100%;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section.home nav .nav-items .request-btn .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

section.home nav .nav-items .request-btn .text p {
  font-family: var(--NowNorml);
  font-weight: normal;
  font-size: 16px;
}

section.home nav .nav-items .request-btn .text img {
  margin-left: 5px;
}

section.home .main-section {
  width: 100vw;
  padding: 0 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section.home .main-section .left-side {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

section.home .main-section .left-side .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  grid-gap: 30px;
}

section.home .main-section .left-side .content .home-title {
  font-size: 60px;
  color: var(--textColor);
  font-weight: bold;
  font-style: normal;
  font-family: var(--NowBold);
  line-height: 110%;
}

section.home .main-section .left-side .content .home-sub-title {
  font-family: var(--NowNorml);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: white;
  line-height: 160%;
}

section.home .main-section .left-side .content .learn-more-btn {
  width: 210px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 66px;
  background: #282828;
  -webkit-box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
          box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

section.home .main-section .left-side .content .learn-more-btn p {
  font-family: var(--NowNorml);
  font-size: 18px;
  color: white;
}
/*# sourceMappingURL=Style.css.map */