@font-face {
    font-family: NowBold;
    src: url(../fonts/Now/NowAlt-Bold.otf);
}
@font-face {
    font-family: NowNormal;
    src: url(../fonts/Now/Now-Regular.otf);
}

:root {
    --textColor: #30FBEF;
    --whitecolor:#fff;
    --NowBold:NowBold;
    --NowNorml:NowNormal
  }

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-color: #282828;
}
.res-nav{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000;
    display: grid;
    display: none;
    padding: 100px 20px;
    font-size: 16px;
    color: white;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    a{
        text-decoration: none;
        color: var(--whitecolor);
    }
    .navItem{
        padding: 0 5px;
        font-family: var(--NowNorml);
        color:var(--whitecolor)
    }
    a.active{
        color: var(--textColor);
    }
    .request-btn{
        width: 210px;
        margin-left: 10px;
        height: 50px;
        background: #282828;
        box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
        border-radius: 50px;
        display: grid;
        place-items: center;
        .text{
            display: grid;  
            grid-template-columns: auto auto;
            p{
                font-family: var(--NowNorml);
                font-weight: normal;
                font-size: 16px;
                color: var(--textColor) ;
            }
            img{
                margin-left: 5px;
            }
        }
        
    }
}
section.home{
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
    height: auto;
    padding: 50px 0;
    nav{
        height: 60px;
        display: grid;
        padding: 0 50px;
        align-items: center;
        grid-template-columns: 1fr auto;
            .menu_icon{
                width: 40px;
                height:40px;
                display: grid;
                position: fixed;
                top: 9%;
                display: none;
                right: 5%;
                place-content: center;
                .fline{
                    width: 30px;
                    height: 5px;
                    margin: 3px 0;
                    background-color: rgb(255, 255, 255);
                    transform: translateX(-5px);
                    border-radius: 10px;
                    transition: all 1s ease;
                } 
                .sline{
                    width: 30px;
                    height: 5px;
                    margin: 3px 0;
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    transition: all 1s ease;
                    transform: translateX(5px);
                } 
                .tline{
                    width: 30px;
                    border-radius: 10px;
                    height: 5px;
                    transform: translateX(-5px);
                    margin: 3px 0;
                    background-color: rgb(255, 255, 255);
                    transition: all 1s ease;
                }
                &:hover .sline{
                    transform: translateX(5px);
                }
                &:hover .tline{
                    transform: translateX(-5px);
                }
            
               
            }
        
        .logo{
            justify-self: start;
            width: 170px;
            height: 100%;
            align-items: center;
            display: grid;
            grid-template-columns:1fr 1fr;
            h1{
                font-size: 26px;
                font-family: var(--NowNorml);
                color: var(--textColor);
            }
        }
        .nav-items{
            height: 100%;
            width: auto;
            justify-self: end;
            align-items: center;
            display: grid;
            grid-gap: 10px;
            grid-template-columns:auto auto auto auto auto;
            a{
                text-decoration: none;
                color: var(--whitecolor);
            }
            p{
                padding: 0 5px;
                font-family: var(--NowNorml);
                color:var(--whitecolor)
            }
            .request-btn{
                width: 210px;
                margin-left: 10px;
                height: 100%;
                background: #282828;
                box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
                border-radius: 50px;
                display: grid;
                place-items: center;
                .text{
                    display: grid;  
                    grid-template-columns: auto auto;
                    p{
                        font-family: var(--NowNorml);
                        font-weight: normal;
                        font-size: 16px;
                        color: var(--textColor) ;
                    }
                    img{
                        margin-left: 5px;
                    }
                }
                
            }
        }
    }
    .main-section{
        width: 100vw;
        padding:0 140px;
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left-side{
            display: grid;
            place-content: center;
            .content{
                display: grid;
                grid-template-rows:auto auto auto ;
                grid-gap: 30px;
                .home-title{
                    font-size: 60px;
                    color: var(--textColor);
                    font-weight: bold;
                    font-style: normal;
                    font-family: var(--NowBold);
                    line-height: 110%;
                }
                .home-sub-title{
                    font-family: var(--NowNorml);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    color: white;
                    line-height: 160%;
                }
                .learn-more-btn{
                    width: 210px;
                    display: grid;
                    place-items: center;
                    height: 66px;
                    background: #282828;
                    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
                    border-radius: 50px;
                    p{
                        font-family: var(--NowNorml);
                        font-size: 18px;
                        color: white;
                    }
                }
            }
        }
        .right-side{
            display: grid;
            place-items: center;
            img{
                max-width: 380px;
                height: auto;
            }
        }
    }
}
.section-boxes{
    width: 100vw;
    height: auto;
    padding: 50px 140px;
    overflow: hidden;
    .box-1{
        width: 100%;
        height: 560px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
        border: 2px solid #272829;
        box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        padding: 50px 40px;
        grid-gap: 15px;
        .left-side{
            display: grid;
            width: 100%;
            place-items: center;
            img{
                width: 90%;
                object-fit: cover;

            }
        }
        .right-side{
            display: grid;
            place-items: center;
            .content{
                display: grid;
                grid-gap: 40px;
                grid-template-rows: 1fr 2fr;
                h1{
                    color: var(--textColor);
                    font-size: 38px;
                    font-family: var(--NowBold);
                }
                p{
                    font-size: 18px;
                    font-family: var(--NowNorml);
                    color:white;
                }
            }
        }
    }
    .box-2{
        width: 100%;
        height: 800px;
        background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
        border: 1px solid #272829;
        margin: 100px 0;
        box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        display: grid;
        padding: 0 80px;
        grid-template-rows: 1.5fr 4fr 1fr;
        .head{
            width: 100%;
            width: 100%;
            display: grid;
            align-items: center;
            h1{
                font-size: 40px;
                font-family: var(--NowBold);
                color: var(--textColor);
            }
        }
        .body{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: visible;
            .cards{
                position: absolute;
                width: 1100px;
                height: 100%;
                left: 0px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                transition: left 1s cubic-bezier(0.93, 0.03, 0.04, 1.24);
                .card{
                    padding: 30px;
                    display: grid;
                    grid-template-rows:42fr 36fr 22fr ;
                    width: 300px;
                    place-items: center;
                    height: 500px;
                    background: #212121;
                    box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1);
                    border-radius: 50px;
                    img{
                        width: 70%;
                    }
                    .body{
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        h1{
                            font-family: var(--NowBold);
                            font-size: 24px;
                            color: var(--textColor);
                        }
                        p{
                            font-family: var(--NowNorml);
                            font-size: 14px;
                            color: white;
                        }
                    }
                    .learnmore{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        p{
                            font-size: 16px;
                            font-family: var(--NowBold);
                            color:var(--textColor);
                        }
                        img{
                            width: 10%;
                            height: 15%;
                        }
                    }

                }
                
            }
        }
        .footer{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .dots{
                width: auto;
                height: 25px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 5px;
                align-items: center;
                .dot.active{
                    width: 10px;
                    height: 10px;
                    background: #F063B8;
                    border-radius:50%;
                }
                .dot{
                    cursor: pointer;
                    width: 5px;
                    height: 5px;
                    background: white;
                    border-radius:50%;
                    transition: all 1s ease;
                }
            }
            .arrows{
                width: 65px;
                display: flex;
                height: 2px;
                grid-gap: 10px;
                
                .arrow1{
                    position: relative;
                    width: 35%;
                    height: 100%;
                    transition: width 1s ease;
                    cursor: pointer;
                    background: rgb(255, 255, 255);
                    img{
                        transform: translateY(-48%);
                        position: absolute;
                    }
                }
                .arrow2{
                    width: 35%;
                    cursor: pointer;
                    position: relative;
                    height: 100%;
                    transition: width 1s ease;
                    background: rgb(255, 255, 255);
                    img{
                        position: absolute;
                        right: 0;
                        transform:translateY(-48%) rotate(180deg);
                    }
                }
                .arrow.active{
                    width: 65%;
                    
                }
            }
        }
    }
    .box-3{
        width: 100%;
        height: 550px;
        position: relative;
        margin-top: 150px;
        background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
        border: 1px solid #272829;
        box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left-side{
            display: grid;
            padding: 50px 50px;
            place-items: center;
            .content{
                height: auto;
                width: 100%;
                display: grid;
                grid-template-rows: 1fr 1.5fr 1fr;
                grid-gap: 10px;

                h1{
                    font-size: 40px;
                    font-family: var(--NowBold);
                    color:var(--textColor);
                    width: 385px;
                    align-self: center;
                }
                p{
                    color: white;
                    font-family: var(--NowNorml);
                    width: 300px;
                }
                .download-btn{
                    width: 210px;
                    height: 70px;
                    background: #282828;
                    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
                    border-radius: 50px;
                    align-self: center;
                    display: grid;
                    place-items: center;
                    h2{
                        font-family: var(--NowBold);
                        font-size: 18px;
                        color: white;
                    }
                }
            }
        }
        .right-side{
            img{    
                position: absolute;
                right: -150px;
                top: -120px;
                width: 800px;
            }


        }
    }
    .box-4{
        width: 100%;
        height: 600px;
        background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
        border: 1px solid #272829;
        margin: 100px 0;
        box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        display: grid;
        padding: 0 80px;
        grid-template-rows: 1.5fr 4fr 1fr;
        .head{
            width: 100%;
            width: 100%;
            display: grid;
            align-items: center;
            h1{
                font-size: 40px;
                font-family: var(--NowBold);
                color: var(--textColor);
            }
        }
        .body{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: visible;
            .cards{
                position: absolute;
                width:2200px;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                justify-items: center;
                transition: left 2s ease;
                grid-gap: 33px;
                .card{
                    display: grid;
                    grid-template-columns: 1fr 4fr;
                    width: 500px;
                    padding: 40px 50px;
                    height: 300px;
                    grid-gap: 20px;
                    background: #212121;
                    box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(75, 93, 104, 0.1);
                    border-radius: 50px;
                    img{
                        width: 90%;
                        margin-top: 20px;
                        justify-self: center;
                    }
                    .content{
                        padding: 20px 0;
                        display: grid;
                        grid-template-rows: 1fr 1fr 3fr;
                        align-items: center;
        
                        h1{
                            font-family: var(--NowNorml);
                            font-size: 20px;
                            color: var(--textColor);
                        }
                        .category{
                            display: flex;
                            h2{
                                font-family: var(--NowNorml);
                                font-size: 14px;
                                color: #9C69E2;
                            }
                            .dots{
                                display: flex;
                                gap: 5px;
                                margin-left: 20px;
                                .dot{
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50%;
                                    background: var(--textColor);
                                }
                            }
                        }
                        p.desc{
                            font-family: var(--NowNorml);
                            color: var(--whitecolor);
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .footer{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .dots{
                width: auto;
                height: 25px;
                display: grid;
                grid-template-columns:1fr 1fr 1fr 1fr;
                grid-gap: 5px;
                align-items: center;
                
                .dot.active{
                    width: 10px;
                    height: 10px;
                    background: #F063B8;
                    border-radius:50%;
                }
                .dot{
                    width: 5px;
                    transition: all 1s ease;
                    height: 5px;
                    background: white;
                    border-radius:50%;
                    cursor: pointer;
                }
            }
            .arrows{
                width: 65px;
                display: flex;
                height: 2px;
                grid-gap: 10px;
                .arrow1{
                    position: relative;
                    width: 35%;
                    height: 100%;
                    transition: width 1s ease;
                    cursor: pointer;
                    background: rgb(255, 255, 255);
                    img{
                        transform: translateY(-48%);
                        position: absolute;
                    }
                }
                .arrow2{
                    width: 35%;
                    cursor: pointer;
                    position: relative;
                    height: 100%;
                    transition: width 1s ease;
                    background: rgb(255, 255, 255);
                    img{
                        position: absolute;
                        right: 0;
                        transform:translateY(-48%) rotate(180deg);
                    }
                }
                .arrow.active{
                    width: 65%;
                    
                }
            }
        }
    }
}

.subscribe{
    width: 100%;
    padding: 0 140px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #9C69E2;
    .left-side{
        display: grid;
        grid-gap:10px;
        grid-template-rows: 1fr 1fr;
        h1{
            font-family: var(--NowBold);
            font-size: 40px;
            align-items:end;
            color: var(--textColor);
        }
        p{
            font-family: var(--NowNorml);
            font-size: 16px;
            color: var(--whitecolor);
        }
    }
    .right-side{
        display: grid;
        place-items: center;
        .inputbox{
            width: 500px;
            height: 70px;
            position: relative;
            input{
                width: 100%;
                height: 100%;
                background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
                border: 1px solid #272829;
                box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.3);
                border-radius: 50px;
                caret-color: white;
                font-size: 20px;
                color: white;
                padding: 0 160px 0 20px ;
            }
            p{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 30px;
                font-family: var(--NowNorml);
                font-size: 18px;
                color: var(--whitecolor);
            }
            .button-email{
                width: 150px;
                height: 80%;
                position: absolute;
                top: 50%;
                background: #000;
                transform: translateY(-50%);
                right:  10px;
                font-family: var(--NowNorml);
                font-size: 18px;
                border: none;
                background: #282828;
                box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
                border-radius: 50px;
                font-size: 16px;
                font-family: var(--NowNorml);
                color: var(--whitecolor);
                display: grid;
                place-items: center;
            }
          
        }
        
    }
}
.try-for-free{
    width: 100%;
    margin: 50px 0;
    padding: 0 140px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-side{
        display: grid;
        grid-gap:10px;
        grid-template-rows: 1fr 1fr;
        h1{
            font-family: var(--NowBold);
            font-size: 40px;
            align-items:end;
            color: var(--textColor);
        }
        p{
            font-family: var(--NowNorml);
            font-size: 16px;
            color: var(--whitecolor);
        }
    }
    .right-side{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .button{
            width: 200px;
            height: 70px;
            display: grid;
            place-items: center;
            background: #282828;
            box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            font-size: 16px;
            font-family: var(--NowNorml);
            color: var(--whitecolor);
        }
        .request-btn{
            width: 210px;
            margin-left: 10px;
            height: 70px;
            background: #282828;
            box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            display: grid;
            place-items: center;
            .text{
                display: grid;  
                align-items: center;
                grid-template-columns: auto auto;
                p{
                    font-family: var(--NowNorml);
                    font-weight: normal;
                    font-size: 16px;
                    color: #9C69E2 ;
                }
                img{
                    margin-left: 5px;
                }
            }
            
        }

        
    }
}
footer{
    color: var(--textColor);
    font-family: var(--NowNorml);
    padding: 0 140px;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    a{
        text-decoration: none;
        color: var(--textColor);

    }
    .first-section{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:2fr 1fr 1fr 2fr;
        .sub-sec-1{
            .logo{
                margin-bottom: 40px;
                justify-self: start;
                width: 170px;
                align-items: center;
                display: grid;
                grid-template-columns:1fr 1fr;
                h1{
                    font-size: 26px;
                    font-family: var(--NowNorml);
                    color: var(--textColor);
                }
                
            }
            .address{
                margin-bottom: 25px;
            }
        }

        .sub-sec-2{
            padding-top: 30px;
            .about{
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 13px;
            }
            
        }
        .sub-sec-3{
            padding-top: 30px;
            .Help{
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 13px;
            }
            
        }
        .sub-sec-4{
            padding: 30px 0;
            p{
                margin-bottom: 30px;
            }
            .icons{
                display: flex;
                gap: 25px;
                .icon{
                    cursor: pointer;
                    width: 70px;
                    height: 70px;
                    background: #282828;
                    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
                    border-radius: 50px;  
                    display: grid;
                    place-items: center; 
                    img{
                        width: 70%;
                    }         
                }
            }
        }
        
    }
    .second-section{
        display: flex;
        justify-content: space-between;
        img{
            width: 30px;
            height: 30px;
            margin-right: 100px;
        }
    }
}



// for responsive

@media only screen and(max-width:1024px){
    section.home .main-section .left-side .content .home-title {
        font-size: 40px;
    }
    .section-boxes .box-1 .right-side .content h1 {
        font-size: 28px;
    }
    .section-boxes .box-3 .right-side img {
        right: -202px;
        top: -57px;
        width: 691px;
    }
    .subscribe .right-side .inputbox {
        width: 379px;
    }
    .subscribe .right-side .inputbox p {
        font-size: 12px;
    }
}

@media only screen and(max-width:960px){
    section.home nav .menu_icon{
        display: block;
    }
    section.home nav .nav-items{
        display: none;
    }
    section.home .main-section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    section.home .main-section .left-side{
        grid-row-start: 2;
    }
    .section-boxes .box-1{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section-boxes .box-2 .body .cards {
        width: 1000px;
    }
    .section-boxes .box-3 .right-side img {
        top: 78px;
        width: 514px;
    }
    .section-boxes .box-4 .body .cards{
        transform: scale(.9);
    }
    .subscribe{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        justify-content: center;
    }
    .subscribe .right-side .inputbox{
       width: 500px;
    }
    .subscribe .right-side .inputbox p{
        font-size: 18px;
    }
    .try-for-free{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        justify-content: center;
    }
    footer{
        
            transform: scale(.8);
            padding: 0;
        
    }
}
@media only screen and( max-width:768px){
    section.home .main-section {
        padding: 30px;
    }
    .section-boxes{
        padding:50px 30px;
    }
    .section-boxes .box-2 .body .cards{
        width: 850px;
    }
    .section-boxes .box-2 .body .cards .card{
            transform: scale(.8);
        
    }
    .section-boxes .box-3 .right-side img {
        top: 170px;
        width: 418px;
        right: -151px;
    }
    footer{
        padding: 0 10px;
        justify-content: center;
        transform: scale(1);
        p{

            font-size:  13px;
        }
        .first-section{
            justify-items: center;
        }
    }
    footer .first-section .sub-sec-1 .logo{
        margin: 0;
        padding-top: 15px;
        h1{
            font-size: 15px;
        }
        width: 100px;
    }
    footer .first-section .sub-sec-1 .logo img{
        width: 100%;
    }
    
    footer .first-section .sub-sec-1 .address {
        margin: 25px 0;
    }
    footer .first-section .sub-sec-4 .icons {
        gap: 5px;
    }
    footer .first-section .sub-sec-4 .icons .icon{
        width: 20px;
        height: 20px;
    }
    footer .second-section img {
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width:540px){
    section.home .main-section .right-side img {
        max-width: 280px;
        height: auto;
    }
    .subscribe .right-side .inputbox {
        width: 280px;
        height: 50px;
        .placeholder{
            font-size: 10px;
        }
        .button-email{
            width: 79px;
            font-size: 13px;
        }
    }
    .try-for-free .right-side .button{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
    .try-for-free .right-side .request-btn{
        font-size: 13px;
        width: 120px;
        height: 40px;
    }
    .try-for-free .right-side .request-btn .text p{
        font-size: 13px;
    }
    .try-for-free {
        grid-template-rows: 1fr auto;
    }
    .section-boxes .box-4{
        height: 800px;
        padding: 0 25px;
        width: 310px;
        grid-template-columns: 1fr;

        .head h1{
            font-size: 20px;
        }
    }
    .section-boxes .box-4 .body .cards{
        transform: scale(1);
        height: 700px;
    }
    .section-boxes .box-4 .body .cards .card {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 9fr;
        height: 500px;
        width: 300px;
        img{
            width: 50px;
        }
    }
    section.home nav {
        padding: 0 10px;
    .logo{
        width: 100px;
        img{
            width: 100%;
        }
        h1{
            font-size: 18px;
        }
    }
}
.section-boxes .box-3 .left-side {
    padding: 0px;
}
.section-boxes .box-2{
    padding: 20px;
    grid-template-rows: .5fr 10fr .5fr;
    height: 560px;
}
.section-boxes .box-2 .head h1 {
    font-size: 20px;
}
.section-boxes .box-1 .right-side .content h1{
    font-size: 24px;
}
.section-boxes .box-1 .right-side .content {

    grid-template-rows: .5fr 2fr;
}
.section-boxes .box-1{
    height: 800px;
}
.section-boxes .box-3 {
    width: 100%;
    height: 500px;
    padding: 0 20px;
    .right-side img{
        display: none;
    }
    .left-side{
        .content{
            h1{
                font-size: 20px;
    
            }
            p{
                width: 200px;
            }
        }
    }
}
.section-boxes .box-3 .left-side .content .download-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
}
.section-boxes .box-3 .left-side .content {
    justify-content: center;
    grid-template-rows: .5fr 1.5fr .5fr;
}
}
